{% extends 'FireDevsApp/student_form.html' %}
{% load static %}

{% block content %}
     <section class="templatemo-content-container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header alert-danger">
                        <h3 class="card-title">Advertencia!</h3>
                    </div>
                    <!-- /.card-header -->

                    <div class="card-body">
                    <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <div class="alert">

                    <h4>
                        Esta seguro que desea eliminar el Estudiante (( <strong>{{ object.name|capfirst }}</strong> )).
                        La información no podrá restaurarse
                    </h4>
                    &nbsp;
                    <form action="" method="post">{% csrf_token %}
                        <p class="text-center">
                            <button type="submit" class="btn btn-danger">
                                Borrar
                            </button>
                            <a class="btn btn-primary" href="{% url 'student_list' 1%}">
                                Cancelar
                            </a>
                        </p>
                    </form>
                </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </section>
{% endblock %}


