{% extends 'FireDevsApp/student_list.html' %}
{% load static %}

{% block sub_breadcumb %}
    <li><a href="{% url 'student_list' 1%}" class="active">Estudiante</a></li>
{% endblock %}

{% block content %}
    <div class="templatemo-content-container">
       <h1>
            Estudiante / Formulario
        </h1>
    </div>
    <div class="templatemo-content-container">
        <form action="" class="form-horizontal" method="POST">
            {% csrf_token %}
            <div class="form-body">
                {% for campo in form %}
                    <div class="form-group">
                        <label class="col-md-3 control-label">{{ campo.label_tag }}</label>
                        <div class="col-md-6">
                            <small>{{ campo.errors }}</small>
                            {{ campo }}
                        </div>
                    </div>
                {% endfor %}
            </div>
                <div class="form-actions fluid ">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" class="btn btn-primary" value="Enviar">
                        <a href="{% url 'student_list' 1%}" type="button"
                           class="btn btn-danger">Cancelar</a>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}

